
* {
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: normal;
}

.header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.explanation {
    max-width: 600px;
    margin: auto 0;
}

.logo:hover {
    background-color: #f2f2f2;
}

.logo {
    transition: background-color 200ms;
}

/* Monospace stuff */

.major-error {
    font-family: "Consolas", Monaco, monospace;
    white-space: pre;
    font-size: 12px;
    overflow: scroll;
}

.plot-container canvas {
    width: calc(max(min(100%, 750px), 500px));
    aspect-ratio: 1;
}

.demo-container {
    display: flex;
}

.controls {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.major-error {
    padding: 10px;
    background-color: #ffe0e0;
}
